<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.repbase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/application"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="Авторизация" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" android:label="Регистрация"></activity>
        <!--  <activity android:name=".activities.AuthorizedActivity" android:label="RepBase"></activity>-->
        <activity android:name=".activities.AuthorizedActivity" android:label="RepBase" android:launchMode="singleTop"></activity>
        <activity android:name=".activities.ChangeUserInfoActivity"></activity>
        <activity android:name=".activities.RepetitionsActivity"></activity>
        <activity android:name=".activities.ProfileActivity"></activity>
        <activity android:name=".activities.GroupsActivity"></activity>
        <activity android:name=".activities.SingleGroupActivity"></activity>
        <activity android:name=".activities.AllGroupsListActivity"></activity>
        <activity android:name=".activities.CreateNewGroupActivity"></activity>
        <activity android:name=".activities.AllBasesListActivity"></activity>
        <activity android:name="com.example.repbase.activities.RoomsListActivity"></activity>
        <activity android:name=".activities.SingleRoomActivity"></activity>
        <activity android:name=".activities.ReserveRepActivity"></activity>
    </application>

</manifest>